@import "./../../styles/variables.scss";

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

.home {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__now-playing {
    position: absolute;
    bottom: 7rem;
    right: 2rem;
    z-index: 1;
  }

  .MuiTypography-h1 {
    text-align: center;
    padding-top: 30vh;
    color: $nav-bar;
    font-family: 'Caprasimo', cursive;
  }

  .MuiTypography-body1 {
    padding-top: 30px;
    margin-left: 50px;
    font-size: 3rem;
  }

  .down-arrow {
    position: relative;
    z-index: 1;
    border-top-color: $nav-bar;
  }

  @media only screen and (max-width: 500px) {
    .home__now-playing {
      right: 1rem;
      left: 1rem;
    }
  }
}